/* styles.css */

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
  background-color: rgb(0, 113, 158);
  color: white;
}

h1 {
  text-align: center;
}

dialog {
  background-color: rgb(231, 231, 231);
}

dialog::backdrop {
  background-color: rgba(26, 26, 26, 0.877)
}

.lowPriority{
  color: rgb(170, 214, 255);
}

.normalPriority{
  color: yellow;
}

.highPriority{
  color: rgb(255, 104, 104);
}

.collapsed{
  display: none;

  width: 100%;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

img{
  filter: invert();
  height: 100px;
  position: sticky;
  top: 20px;
}

.downIcon {
  display: inline;
  height: 20px;                                                                                           
}

.trashIcon {
  display: inline;
  height: 20px;
}

footer{
  text-align: center;
}

footer > a{
  color: lightblue;
}

.project {
  background-color: rgba(247, 247, 247, 0.349);
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.dueDate {
  display: inline;
}