/* styles.css */

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html {
  --section-background-color: rgba(247, 247, 247, 0.349);
  --section-border-radius: 10px;
}

body {
  background-color: #1D546D;
  color: white;
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#sidebar{
  border-right: 1px rgb(110, 110, 110) solid;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-width: 290px;
}

.buttonSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--section-background-color);
  border-radius: var(--section-border-radius);
  width: 250px;
  padding: 0 10px;
  margin-bottom: 20px;
}

#wrapper {
  display: flex;
  flex-direction: row;

  flex: 1 0 auto;
}

#content {
  flex: 2 0 auto;
}

#appName {
  padding: 30px;
}

h1 {
  text-align: center;
}

dialog {
  background-color: #F3F4F4;
}

dialog::backdrop {
  background-color: rgba(26, 26, 26, 0.877)
}

img{
  filter: invert();
  height: 100px;
  position: sticky;
  top: 20px;
}

.downIcon {
  display: inline;
  height: 20px;                                                                                           
}

.trashIcon {
  display: inline;
  height: 20px;
}

footer{
  flex-shrink: 0;

  text-align: center;
  background-color: #5F9598;
  height: 76px;
  margin: 0;
  padding: 0;
}

footer > a{
  color: lightblue;
  line-height: 38px;
}

footer > p{
  margin: 0;
  line-height: 38px;
}

#projectsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project {
  background-color: var(--section-background-color);
  border-radius: var(--section-border-radius);
  padding: 0 0 30px 0;
  margin-bottom: 30px;

  min-width: 300px;
  max-width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  background-color: #434446;
  border-radius: 10px;
  width: 90%;
}

.dueDate {
  display: inline;
}

.lowPriority{
  color: rgb(170, 214, 255);
}

.normalPriority{
  color: yellow;
}

.highPriority{
  color: rgb(255, 167, 167);
}

.collapsed{
  display: none;
  padding-bottom: 15px;

  /* Flex stuff:*/
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.collapsed > p {
  padding-left: 10px;
  margin: 9px 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}