/* styles.css */

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
  background-color: #1D546D;
  color: white;
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex: 1 0 auto;
}

#appName {
  padding: 10px;
}

h1 {
  text-align: center;
}

dialog {
  background-color: #F3F4F4;
}

dialog::backdrop {
  background-color: rgba(26, 26, 26, 0.877)
}

.lowPriority{
  color: rgb(170, 214, 255);
}

.normalPriority{
  color: yellow;
}

.highPriority{
  color: rgb(255, 167, 167);
}

.collapsed{
  display: none;

  width: 100%;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

img{
  filter: invert();
  height: 100px;
  position: sticky;
  top: 20px;
}

.downIcon {
  display: inline;
  height: 20px;                                                                                           
}

.trashIcon {
  display: inline;
  height: 20px;
}

footer{
  flex-shrink: 0;

  text-align: center;
  background-color: #5F9598;
  height: 76px;
  margin: 0;
  padding: 0;
}

footer > a{
  color: lightblue;
  line-height: 38px;
}

footer > p{
  margin: 0;
  line-height: 38px;
}

#projectsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project {
  background-color: rgba(247, 247, 247, 0.349);
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;

  width: 300px;

  display: flex;
  flex-direction: column;
  gap:20px;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.dueDate {
  display: inline;
}